body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 30, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 30, 36, 0.9332866935836834) 3%,
    rgba(9, 47, 121, 0.9248833322391457) 27%,
    rgba(84, 125, 119, 0.9528945367209384) 54%,
    rgba(20, 79, 224, 0.8940710073091737) 89%,
    rgba(32, 44, 57, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
